In [5]:
import pandas as pd
from pathlib import Path

In [3]:
PDBbind_dir = '/pubhome/xli02/project/PLIM/v2019_dataset/PDBbind_v2019'
index_file = f'{PDBbind_dir}/index/PDBbind_v19_minimized_succeed_manually_modified_final.csv'
index_df = pd.read_csv(index_file, sep='\t')
index_df

      pdb_id  -logAffi
0       3zzf      0.40
1       3gww      0.45
2       1w8l      0.49
3       3fqa      0.49
4       1zsb      0.60
...      ...       ...
17174   7cpa     13.96
17175   2xuf     14.39
17176   1avd     15.00
17177   2xui     15.00
17178   2avi     15.22

[17179 rows x 2 columns]

In [8]:
rec_f = f'{PDBbind_dir}/2fvd/rec_h_opt.pdb'
'CYS' in Path(rec_f).read_text()

True

In [13]:
for row in index_df.itertuples():
    rec_f = f'{PDBbind_dir}/{row.pdb_id}/rec_h_opt.pdb'
    if 'CYS' in Path(rec_f).read_text():
        index_df.loc[row.Index, 'prot_contain_cys'] = 1
    else:
        index_df.loc[row.Index, 'prot_contain_cys'] = 0
    rec_f = f'{PDBbind_dir}/{row.pdb_id}/rec_addcharge_pocket_6.mol2'
    if 'CYS' in Path(rec_f).read_text():
        index_df.loc[row.Index, 'pock_contain_cys'] = 1
    else:
        index_df.loc[row.Index, 'pock_contain_cys'] = 0

In [15]:
sum(index_df['pock_contain_cys'])/len(index_df)

0.40438907969031956

In [16]:
sum(index_df['prot_contain_cys'])/len(index_df)

0.8889341638046452

In [17]:
PDBbind_minimized_intersected_Uw = f'{PDBbind_dir}/index/PDBbind_minimized_intersected_Uw/PDBbind_minimized_final_intersected_PLANet_Uw.csv'
PDBbind_inter_Uw_df = pd.read_csv(PDBbind_minimized_intersected_Uw, sep='\t')
PDBbind_inter_Uw_df

     pdb_id  -logAffi
0      3fl9      1.11
1      2hdq      1.40
2      1utp      1.44
3      1tnk      1.49
4      1a7t      1.64
...     ...       ...
5903   4n70     12.00
5904   3o9h     12.10
5905   3o9g     12.30
5906   1q83     12.39
5907   3o9f     12.70

[5908 rows x 2 columns]

In [24]:
PDBbind_inter_Uw_cys_df = pd.merge(PDBbind_inter_Uw_df, index_df, on=['pdb_id', '-logAffi'])
PDBbind_inter_Uw_cys_df

     pdb_id  -logAffi  prot_contain_cys  pock_contain_cys
0      3fl9      1.11               1.0               0.0
1      2hdq      1.40               0.0               0.0
2      1utp      1.44               1.0               1.0
3      1tnk      1.49               1.0               1.0
4      1a7t      1.64               1.0               1.0
...     ...       ...               ...               ...
5903   4n70     12.00               1.0               0.0
5904   3o9h     12.10               1.0               0.0
5905   3o9g     12.30               1.0               0.0
5906   1q83     12.39               1.0               0.0
5907   3o9f     12.70               1.0               0.0

[5908 rows x 4 columns]

In [23]:
sum(PDBbind_inter_Uw_cys_df['pock_contain_cys'])/len(PDBbind_inter_Uw_cys_df)

0.47054840893703453

In [25]:
sum(PDBbind_inter_Uw_cys_df['prot_contain_cys'])/len(PDBbind_inter_Uw_cys_df)

0.9432972241029113